.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: min(460px, 85%);
    width: 100%;
    height: 100%;
    padding-top: min(48px, 2vh);
    padding-bottom: 40px;
}

.form input {
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
    color: var(--inputs-text-color);
    background-color: var(--inputs-background-color);
    width: inherit;
    height: 52px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid var(--inputs-border-color);
    border-radius: 10px;
    padding-left: 15px;
    position: relative;
}

.form input:focus-visible {
    outline: 2px solid var(--inputs-focus-color);
    outline-offset: 3px;
}

.form input:hover, .form .upload-area:hover,.form .upload-area::after  {
    -webkit-box-shadow: 0 0 0 1000px var(--inputs-background-color) inset;
    box-shadow: 0 0 0 1000px var(--inputs-background-color) inset;
    -webkit-text-fill-color: var(--inputs-text-color);
}

.form input, .form .upload-area{
    transition: 0.2s ease-in-out ;
}

.form label:not([for="avatar"]) {
    width: fit-content;
    font-size: 1.8rem;
    color: var(--inputs-label-color);
    margin-bottom: 16px;
    cursor: pointer;
}

.form input::placeholder {
    color: var(--inputs-placeholder-color);
}

.form .upload-avatar {
    color: var(--upload-avatar-text-color);
    font-size: 2rem;
}

.form .upload-area {
    margin-top: 10px;
    position: relative;
    width: inherit;
    height: 130px;
    background: var(--inputs-background-color);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    font-family: 'Inconsolata', monospace;
    color: var(--inputs-text-color);
    background-color: var(--inputs-background-color) ;
    -webkit-box-shadow: 0 0 0 1000px var(--inputs-background-color) inset;
    -webkit-text-fill-color: var(--inputs-text-color);
    transition: background-color 5000s ease-in-out 0s;
}

.form .upload-area input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form .upload-area label,
.form .upload-info {
    color: var(--upload-p-and-lable-color);
}

.form .upload-area label {
    border: 10px solid #0000;
    border-image: url(../../assets/images/border-upload-image.svg) 50 stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-image-width: 50px;
    font-size: 1.8rem;
    border-radius: inherit;
    cursor: pointer;
}

.form .upload-area:has(input:focus-visible) {
    outline: 2px solid var(--inputs-focus-color);
    outline-offset: 3px;
}

.form .upload-area .avatar-image {
    display: block;
    width: 51px;
    height: 51px;
    margin-bottom: 16px;
    border-radius: inherit;
    object-fit: cover;
    border: solid 1px var(--inputs-focus-color);
}

.form .upload-area:has(.avatar-image) label::before {
    display: none;
}

.form .upload-area div{
    display: none;
    gap: 8px;
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
}

.form .upload-area .avatar-buttons button {
    font-family: 'Inconsolata', monospace;
    color: var(--inputs-text-color);
    font-size: 1.2rem;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--inputs-border-color) opaccity();
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.form .upload-area .avatar-buttons button span{
    position: relative;
}

.form .upload-area .avatar-buttons button span::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: var(--white);
    height: 1px;
    width: 0;
    transition:  0.2s ease-in-out;
}

.form .upload-area .avatar-buttons button:hover span::after {
    width: 100%;
}

.form .upload-area .avatar-buttons button:nth-child(2) {
    padding: 0;
}

.form .upload-area .avatar-buttons button label{
    border: none;
    font-family: 'Inconsolata', monospace;
    color: var(--inputs-text-color);
    font-size: 1.2rem;
    padding: 4px 8px;
}

.form .upload-area:has(.avatar-buttons) .avatar-buttons{
    display: flex;
}

.form .upload-area:has(.avatar-buttons) label > span:nth-child(2) {
    opacity: 0;
}

.form .upload-area label::before {
    content: '';
    margin-bottom: 16px;
    background-image: url(../../assets/images/icon-upload.svg);
    background-size: 30px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: inherit;
    border: 1px solid var(--inputs-background-color);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.form .upload-info {
    display: flex;
    font-size: clamp(1.2rem, 1.2vw, 1.6rem);
    margin: 12px 0 20px 0;
    position: relative;
    height: 16px;
    align-items: center;
}

.form .upload-info p{
    padding-left: 24px;
}

.form .upload-info p::before {
    content: '';
    position: absolute;
    background-image: url(../../assets/images/icon-info.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
}

.form .bnt {
    font-family: 'Inconsolata', monospace;
    font-size: 2.2rem;
    font-weight: 800;
    border: none;
    border-radius: 16px;
    color: var(--bnt-text-color);
    background-color: var(--bnt-submit-bkg-color);
    height: 56px;
    margin-top: 8px;
    cursor: pointer;
}

.form .upload-info .error-text{
    font-size: clamp(1.2rem, 1.2vw, 1.6rem);
    margin: 0;
}

.form .error-text {
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem); 
    color: var(--strong-orange);
    margin: 12px 0 24px;
}

.form div:empty {
    margin-bottom: 26px;
}

.form .error-text::before {
    content: url(../../assets/images/icon-info.svg);
    margin-right: 8px;
    filter: invert(13%) sepia(77%) saturate(5719%) hue-rotate(342deg) brightness(106%) contrast(104%);
}

@media (max-width: 395px){
    .form{
        margin-top: min(4.8rem, 2vh);
    }   

    .form .upload-area{
        text-align: center;
    }
}