.ticket-container h1 {
    color: var(--presentation-h1-color);
    font-size: 6rem;
    text-align: center;
    margin-top: 52px;
}

.ticket-container .name-gradiant {
    background-image: linear-gradient(90deg, var(--name-gradiant) );
    color: transparent;
    background-clip: text;
}

.ticket-container .email-ticket {
    color: var(--presentation-p-color);
    font-size: 2.4rem;
    text-align: center;
    margin-top: 36px;
}

.ticket-container .email-ticket span {
    color: var(--email);
}

.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.ticket .ticket-about{
    background: url(../../assets/images/pattern-ticket.svg) no-repeat ;
    width: 600px;
    height: 280px;
    font-weight: 700;
    font-size: 4rem;
    color: var(--ticket-about-color);
    padding: 24px 4px 24px 24px;    
}

.ticket .ticket-header{
    display: flex;
    gap: 16px;
    width: fit-content;
}

.ticket .ticket-info{
    color: var(--ticket-info-color);
    margin-left: 56px;
    font-size: 2rem;
    font-weight: 400;
}

.ticket .ticket-user{
    display: flex;
    height: calc(280px - 130px);
    align-items: end;
    width: fit-content;
}

.ticket .ticket-user img{
    width: 84px;
    height: 84px;
    border-radius: 15%;
    object-fit: cover;
}

.ticket .ticket-user .user-info{
      margin-bottom: 12px;
      margin-left: 12px;
}

.ticket .ticket-user .user-info .user-name{
    font-size: 3rem;
    font-weight: 400;
}

.ticket .ticket-user .user-info .user-github{
    position: relative;
    color: var(--ticket-info-color);
    margin-top: 8px;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 28px;
}

.ticket .ticket-user .user-info .user-github::before {
    content: url(../../assets/images/icon-github.svg);
    position: absolute;
    left: -28px;
    top: 0;
    width: 20px;
    height: 20px;
}

.ticket .ticket-about .ticket-id {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    justify-content: center;
    align-items: center;
    position: relative;
}

.ticket .ticket-about .ticket-id .id {
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    font-size: 3rem;
    font-weight: 500;
    color: var(--ticket-info-color);
    justify-content: center;
    align-items: center;
}