.ticket-container h1 {
    color: var(--presentation-h1-color);
    font-size: clamp(2.8rem, 3vw, 8rem);
    padding: 0 16px;
    text-align: center;
    margin-top: 52px;
}

.ticket-container .name-gradiant {
    background-image: linear-gradient(90deg, var(--name-gradiant));
    color: transparent;
    background-clip: text;
}

.ticket-container .ticket-message {
    color: var(--presentation-p-color);
    font-size: clamp(1.8rem, 1.2vw, 3rem);
    padding: 0 20px;
    text-align: center;
    line-height: 1.4;
    margin-top: 36px;
}

.ticket-container .ticket-message span {
    color: var(--email);
}

.ticket-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.ticket-container-card .ticket-card {
    background: url(../../assets/images/pattern-ticket.svg) no-repeat;
    background-size: contain;
    width: clamp(34.4rem, 50vw, 60rem);
    height: clamp(16rem, 23.4vw, 28rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-weight: 700;
    font-size: clamp(2.4rem, 3vw, 4rem);
    color: var(--ticket-about-color);
    padding: 28px 0px 20px 24px;
}

.ticket-container-card .ticket-top {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: fit-content;
}

.ticket-container-card .ticket-top img {
    width: clamp(3rem, 3.6vw, 4.0rem);
}

.ticket-container-card .ticket-card .ticket-top .ticket-info {
    color: var(--ticket-info-color);
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-weight: 300;
}

.ticket-container-card .ticket-user {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 12px;
    max-height: 40%;
}

.ticket-container-card .ticket-user img {
    width: clamp(4.4rem, 6vw, 8.4rem);
    border-radius: 15%;
    max-height: 100%;
}

.ticket-container-card .ticket-user .user-info .user-name {
    font-size: clamp(1.8rem, 2.6vw, 3rem);
    font-weight: 400;
}

.ticket-container-card .ticket-user .user-info .user-github {
    position: relative;
    color: var(--ticket-info-color);
    margin-top: 8px;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.6vw, 2rem);
    margin-left: 28px;
}

.ticket-container-card .ticket-user .user-info .user-github::before {
    content: url(../../assets/images/icon-github.svg);
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: -28px;
}

.ticket-container-card .ticket-card .ticket-id {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 19%;
    height: inherit;
    writing-mode: vertical-lr;
}

.ticket-container-card .ticket-card .ticket-id .id {
    font-size: clamp(2rem, 2.6vw, 3rem);
    font-weight: 500;
    color: var(--ticket-info-color);
}

@media (max-width: 900px) {
    .ticket-container br {
        display: none;
    }

    .ticket-container-card .ticket-card {
        padding: 20px 0 16px 20px;
    }

    .ticket-container-card .ticket-user .user-info .user-github {
        margin-left: 16px;
    }

    .ticket-container-card .ticket-user .user-info .user-github::before {
        transform: scale(0.6);
        left: -20px;
    }
}