.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100svh - 65px); 
}

.main .presentation-text h1 {    
    margin-top: 40px;
    text-align: center;
    font-size: 6rem;
    color: var(--presentation-h1-color);
}

.main .presentation-text p {
    margin-top: 20px;
    text-align: center;
    font-size: 2.4rem;
    color: var(--presentation-p-color);
}