.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100dvh - 65px);
    justify-content: center;
}

.main .presentation-text {
    padding: 0 16px;
    margin-top: min(2.0rem, 1vw); 
}

.main .presentation-text h1 {
    text-align: center;
    width: 100%;
    font-size: clamp(3.0rem, 3.2vw, 6rem);
    color: var(--presentation-h1-color);
}

.main .presentation-text p {
    margin-top: clamp(2.4rem, 1vh, 4rem);
    text-align: center;
    padding: 0 0.8rem;
    font-size: clamp(1.8rem, 1.3vw, 5rem);
    color: var(--presentation-p-color);
}

@media (max-width: 600px) {
    .main .presentation-text br{
        display: none;
    }
}

@media (max-height: 900px) {
    .main {
        height: 100%;
    }
}

@media (max-width: 395px) {
    .main .presentation-text {
        margin-top: 0;
    }
}