.header {
    display: flex;
    min-height: 65px;
    
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    color: var(--header-letter-color);
}

.header h2 {
    margin-left: 20px;
}