.header {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;
    color: var(--header-letter-color);
}

.header img {
    width: clamp(2.4rem, 1.6vw, 6rem);
    
}

.header h2 {
    font-size: clamp(2.4rem , 1.6vw , 6rem);
    margin-left: 16px;
}